* {
	margin: 0 auto;
	padding: 0px;
	/*outline: 1px solid gray;*/
	font-family: 'Coiny', cursive;
	font-family: 'Indie Flower', cursive;
}

header {
	
	margin: 0px auto; 
	padding: 30px;
}

.block-wrapper {
	text-align: center;
}

.block {
	transition: all 0.5s ease;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	background: lime;
	text-align: center;
	vertical-align: middle;
	height: 250px;
	width: 250px;


}

.block:hover {

	background: #D0A9F5;
	
}

.block img {
	width: 50%;
	transform: translateY(+50%);
	position: relative;
	margin: 0px auto;
	background: #FFF;
	vertical-align: middle;
	
}

.table-data {
	width: 100%;
	text-align: center;
}

.block-table {
	width: 1170px;

}


tr:nth-child(even) {
	background: #E6E0F8;
	border-radius: 10px;
}

tr:nth-child(odd) {
	background: #FFF
}

tr td:hover{
	background: orange;
	color: white;
	border-radius: 10px;
}

th{
	text-align: center;
}

.circle {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	font-size: 20px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	background: #989A8F;
	margin-top: 10px
}

.circle:hover {	
	background: orange;
}

a.button {
	text-decoration: none;
	border-radius: 5px;
	border: 1 solid;
}

a.button {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64, 199, 129);
	box-shadow: 0 -3px rgb(53, 167, 110) inset;
	transition: 0.2s;
}

a.button:hover {
	background: rgb(53, 167, 110);
}

a.button:active {
	background: rgb(33, 147, 90);
	box-shadow: 0 3px rgb(33, 147, 90) inset;
}