* {
	margin: 0 auto;
	padding: 0px;	/* outline: 1px solid gray; */
    font-family: sans-serif;
   
}
body{
	background: url("../images/pattern.png");

}

header,
footer {
	width: 1150px;
	height: 115px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1{
	text-align: center;
	font-family: "Linux Libertine",Georgia,Times,serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0px;
}


header {
	background: url("../images/stena_crash.jpg") #fff no-repeat;
	margin-bottom: 10px;
	padding: 30px;
}

.container {
	padding: 10px; 
	margin: 0 auto;
	text-align: center;

}

.content {
	width: 1310px;
	margin:  0 auto;
	background: white;
	border: 1px solid gray;
	padding: 1em;
	display: inline-block;
	text-align: justify;
	background: white;
	border-radius: 10px;
	 font-size:14px;
	 line-height: 1.6;
	 
}

.picture {
	height: 200px;
	width: 200px;
	display: inline-block;
	
	clear: both;

	border: 1px solid #ccc;
    padding: 3px;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}

.right {
	float: right;
	margin: .5em 0 1.3em 1.4em
}

.left {
	float: left;
	margin: .5em 1.4em 1.3em 0;
}

.newline {
	width: 100%;
	height: 0px;
	float: left;
	outline: none;
	padding: 0px;
	margin: 0px;
}
footer{
	background: url("../images/kirpichnaya-stena-foto.jpg") repeat-x;
	padding: 20px;
	
	text-decoration: none;
	color: white;
}

footer a{
	text-decoration: none;
	color: white;
}





a.button {
	text-decoration: none;
	border-radius: 5px;
	border: 1 solid;
}

/*******************/
a.button {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64, 199, 129);
	box-shadow: 0 -3px rgb(53, 167, 110) inset;
	transition: 0.2s;
}

a.button:hover {
	background: rgb(53, 167, 110);
}

a.button:active {
	background: rgb(33, 147, 90);
	box-shadow: 0 3px rgb(33, 147, 90) inset;
}