* {
	font:	/* outline: 1px solid gray;  */
}

html,
body,
.layout,
.group {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: url("../images/pattern.png");
}

header {
	color: white;
	text-align: left;
	padding: 10px;
	width: 768px;
	border: 1px solid #CDCDCD;
	background: #000;
	display: inline-block;
}

.layout {
	padding-top: 10px;
	position: relative;
	height: 100%;
	overflow: hidden;
	text-align: center;
	min-height: 300px;
}

#columns-wrapper {
	margin: 10px;
	height: 100%;
	margin: 0 auto;
	width: 768px;
	text-align: center;
}

.column {
	padding: 10px;
	height: 80%;
	width: 200px;
	display: inline-block;
	margin: 10px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #CDCDCD;
	text-align: justify;
	overflow-y:  auto;
}

.page2-text {
	font-family: 'Tangerine', cursive;
	font-size: 3em;
	height: 100px;
	width: 800px;

	text-align: center;
	background: #7092be;
}

.page2-images {
	padding: 15px;
	margin: 20px auto;
	width: 700px;
	
	background: #D0A9F5;
}

.blk {
	height: 100%;
	overflow: hidden;
	position: relative;
}

footer {
	padding: 20px;
	text-align: center;
	background: red;
	color : white;
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0px;
	background: #000;
	}

footer a {
	text-decoration: none;
	color: white;
}

footer a:hover {
	text-decoration: none;
	color: lime;
}

/*******************/
a.button {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: black;
	box-shadow: 0 -3px rgb(53, 167, 110) inset;
	transition: 0.2s;
	outline: 1px solid white;
	border-radius: 5px;
}

a.button:hover {
	background: rgb(53, 167, 110);
}

a.button:active {
	background: lime;
	box-shadow: 0 3px rgb(33, 147, 90) inset;
}
/******************/


.page2-images img{
	display: inline-block;
	height: 100px;
	width: 150px ; 
	margin: 10px;
	border-radius: 10px;
	border:1px solid white;

}
.page2-images img:hover{
	transition: 0.2s;
	outline: 5px solid white;
	border-radius: 5px;
	transform: rotate(7deg);
}